# [키우소] 
## 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'C:\\Users\\rnjst\\Desktop\\ML in stat\\Project'

In [3]:
### 소 데이터 불러오기
cow_22_12 = pd.read_excel("Cow Data/2022-12.xlsx")
cow_23_01 = pd.read_excel("Cow Data/2023-01.xlsx")
cow_23_02 = pd.read_excel("Cow Data/2023-02.xlsx")
cow_23_03 = pd.read_excel("Cow Data/2023-03.xlsx")
cow_23_04 = pd.read_excel("Cow Data/2023-04.xlsx")
cow_23_05 = pd.read_excel("Cow Data/2023-05.xlsx")
cow_23_06 = pd.read_excel("Cow Data/2023-06.xlsx")
cow_23_07 = pd.read_excel("Cow Data/2023-07.xlsx")
cow_23_08 = pd.read_excel("Cow Data/2023-07.xlsx")

In [4]:
### 데이터 년/월 변수 만들기
cow_22_12['ym'] = '22_12'
cow_23_01['ym'] = '23_01'
cow_23_02['ym'] = '23_02'
cow_23_03['ym'] = '23_03'
cow_23_04['ym'] = '23_04'
cow_23_05['ym'] = '23_05'
cow_23_06['ym'] = '23_06'
cow_23_07['ym'] = '23_07'
cow_23_08['ym'] = '23_08'

In [5]:
### 데이터 셋 합치기
cow = pd.concat([cow_22_12, 
                 cow_23_01, 
                 cow_23_02, 
                 cow_23_03,
                 cow_23_04,
                 cow_23_05,
                 cow_23_06,
                 cow_23_07,
                 cow_23_08])

In [17]:
a = cow[cow['농가근내평균가산']!='\\N'].copy()
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90000 entries, 0 to 8970
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   개월령       90000 non-null  int64
 1   생시체중      90000 non-null  float64
 2   근내평균      90000 non-null  float64
 3   도체범위근내평균  90000 non-null  float64
 4   체고        90000 non-null  float64
 5   체장        90000 non-null  float64
 6   형매도축수     25674 non-null  float64
 7   형매도체평균    25674 non-null  float64
 8   형매근내평균    25674 non-null  float64
 9   형매근내평균가산  25674 non-null  float64
 10  6개월내출산    90000 non-null  object
 11  농가근내평균    69326 non-null  float64
 12  농가근내평균가산  69326 non-null  object
 13  근내EPD     90000 non-null  float64
 14  근내        90000 non-null  int64
 15  점수        90000 non-null  int64
 16  ym        90000 non-null  object
dtypes: float64(11), int64(3), object(3)
memory usage: 12.4+ MB

In [18]:
a['농가근내평균가산'] = a['농가근내평균가산'].astype('float64')
a['농가근내평균가산'].head()

0   -1.05
1   -1.05
2    0.53
3   -0.91
4   -1.35
Name: 농가근내평균가산, dtype: float64

In [23]:
a.describe().T

,count,mean,std,min,25%,50%,75%,max
개월령,90000.0,42.853078,9.387125,30.00,34.00,42.00,51.00,60.00
생시체중,90000.0,664.652254,97.660069,151.79,603.57,666.07,728.57,1241.07
근내평균,90000.0,4.703121,0.678379,1.90,4.26,4.69,5.18,8.60
도체범위근내평균,90000.0,4.692871,1.055056,0.50,4.02,4.73,5.40,9.00
체고,90000.0,131.421884,2.660412,0.00,129.70,131.40,133.40,138.80
체장,90000.0,152.410821,5.086427,0.00,148.50,153.30,156.70,163.90
형매도축수,25674.0,3.136831,1.543489,2.00,2.00,3.00,4.00,14.00
형매도체평균,25674.0,419.890523,47.986142,145.50,389.00,419.75,450.80,618.00
형매근내평균,25674.0,5.371508,1.440421,0.00,4.50,5.40,6.33,9.00
형매근내평균가산,25674.0,-0.057141,1.263887,-5.31,-0.91,-0.07,0.80,4.84
농가근내평균,69326.0,4.893088,1.266058,0.00,4.17,5.00,5.69,9.00
농가근내평균가산,69326.0,-0.119610,1.027382,-5.98,-0.65,-0.08,0.46,4.92
근내EPD,90000.0,0.274734,0.230227,-0.58,0.11,0.26,0.42,1.28
근내,90000.0,4.635444,2.074842,0.00,3.00,4.00,6.00,9.00
점수,90000.0,3.147733,1.139859,0.00,2.00,3.00,4.00,5.00

In [22]:
a.shape

(90000, 17)

In [16]:
cow.to_excel(excel_writer = "cow.xlsx")

## 데이터 탐색

In [26]:
cow.head()

,개월령,생시체중,근내평균,도체범위근내평균,체고,체장,형매도축수,형매도체평균,형매근내평균,형매근내평균가산,6개월내출산,농가근내평균,농가근내평균가산,근내EPD,근내,점수,ym
0,46,644.64,3.34,3.23,131.4,158.9,NaN,NaN,NaN,NaN,N,4.16,-1.05,0.18,6,4,22_12
1,46,633.93,4.59,4.52,129.7,148.4,NaN,NaN,NaN,NaN,Y,4.16,-1.05,0.17,4,3,22_12
2,32,567.86,5.50,4.89,130.3,158.0,NaN,NaN,NaN,NaN,N,5.58,0.53,0.42,7,5,22_12
3,33,564.29,6.13,5.56,130.7,155.9,NaN,NaN,NaN,NaN,Y,3.78,-0.91,0.42,2,2,22_12
4,48,692.86,4.79,4.61,131.2,146.1,NaN,NaN,NaN,NaN,Y,3.90,-1.35,0.82,4,3,22_12

In [41]:
cow.describe()
ex = pd.DataFrame(cow.describe())
ex.to_excel(excel_writer = "ex.xlsx")

In [13]:
# cow.info()
cow.describe(include='object') # 기초통계 볼 때 inclued 옵션 다르게 주기!

       6개월내출산  농가근내평균가산     ym
count   90042  69368.00  90042
unique      2    806.00      9
top         Y     -0.32  22_12
freq    49994    678.00  12100

In [15]:
cow[cow['농가근내평균가산']=='\\N']

,개월령,생시체중,근내평균,도체범위근내평균,체고,체장,형매도축수,형매도체평균,형매근내평균,형매근내평균가산,6개월내출산,농가근내평균,농가근내평균가산,근내EPD,근내,점수,ym
177,57,708.93,4.25,4.56,134.0,149.1,4.0,425.75,6.25,1.06,Y,3.0,\N,-0.06,4,3,23_07
216,53,508.93,4.18,2.50,133.8,148.3,NaN,NaN,NaN,NaN,Y,1.0,\N,0.54,2,2,23_07
806,55,641.07,3.81,3.69,131.3,154.1,4.0,397.25,5.75,0.33,Y,3.0,\N,0.15,2,2,23_07
898,56,651.79,4.27,4.43,131.3,154.1,NaN,NaN,NaN,NaN,Y,3.0,\N,0.09,2,2,23_07
1036,56,630.36,6.07,6.08,131.6,156.4,NaN,NaN,NaN,NaN,Y,0.0,\N,0.81,2,2,23_07
1053,55,721.43,4.58,4.83,133.7,156.2,5.0,439.80,5.20,-0.84,Y,3.0,\N,0.11,3,2,23_07
1141,54,733.93,3.74,4.03,132.0,158.0,NaN,NaN,NaN,NaN,Y,4.5,\N,-0.12,3,2,23_07
1276,54,635.71,4.23,4.33,131.0,152.2,7.0,417.71,5.71,0.30,Y,3.0,\N,0.14,3,2,23_07
1346,49,671.43,4.08,4.12,131.8,154.9,NaN,NaN,NaN,NaN,N,1.0,\N,0.02,4,3,23_07
2806,50,562.50,4.59,3.71,128.7,153.7,NaN,NaN,NaN,NaN,Y,2.0,\N,0.29,6,4,23_07
3025,48,700.00,4.16,4.68,134.0,149.1,NaN,NaN,NaN,NaN,Y,3.0,\N,-0.05,6,4,23_07
3145,46,366.07,3.76,2.75,132.0,158.0,6.0,448.33,5.33,-0.32,Y,0.5,\N,-0.25,1,1,23_07
3261,48,628.57,4.05,3.85,129.3,144.5,NaN,NaN,NaN,NaN,Y,1.0,\N,0.17,6,4,23_07
4775,40,489.29,3.70,2.00,129.4,158.0,NaN,NaN,NaN,NaN,Y,0.5,\N,0.02,2,2,23_07
4947,40,533.93,4.56,3.82,129.7,150.0,NaN,NaN,NaN,NaN,N,2.0,\N,0.42,5,3,23_07
5175,39,428.57,4.07,3.69,127.7,146.4,NaN,NaN,NaN,NaN,Y,0.5,\N,0.02,2,2,23_07
5293,38,637.50,4.73,4.68,130.3,158.0,2.0,379.00,4.00,-1.09,N,3.0,\N,0.24,6,4,23_07
5703,38,573.21,4.42,4.21,129.7,150.0,NaN,NaN,NaN,NaN,N,3.0,\N,0.51,6,4,23_07
5891,36,776.79,4.46,4.33,128.9,146.9,NaN,NaN,NaN,NaN,N,5.0,\N,0.40,5,3,23_07
7708,33,317.86,6.13,4.27,132.2,151.5,NaN,NaN,NaN,NaN,Y,5.0,\N,0.60,2,2,23_07
7947,32,417.86,4.68,5.40,131.8,154.9,NaN,NaN,NaN,NaN,Y,5.0,\N,0.08,1,1,23_07
177,57,708.93,4.25,4.56,134.0,149.1,4.0,425.75,6.25,1.06,Y,3.0,\N,-0.06,4,3,23_08
216,53,508.93,4.18,2.50,133.8,148.3,NaN,NaN,NaN,NaN,Y,1.0,\N,0.54,2,2,23_08
806,55,641.07,3.81,3.69,131.3,154.1,4.0,397.25,5.75,0.33,Y,3.0,\N,0.15,2,2,23_08
898,56,651.79,4.27,4.43,131.3,154.1,NaN,NaN,NaN,NaN,Y,3.0,\N,0.09,2,2,23_08
1036,56,630.36,6.07,6.08,131.6,156.4,NaN,NaN,NaN,NaN,Y,0.0,\N,0.81,2,2,23_08
1053,55,721.43,4.58,4.83,133.7,156.2,5.0,439.80,5.20,-0.84,Y,3.0,\N,0.11,3,2,23_08
1141,54,733.93,3.74,4.03,132.0,158.0,NaN,NaN,NaN,NaN,Y,4.5,\N,-0.12,3,2,23_08
1276,54,635.71,4.23,4.33,131.0,152.2,7.0,417.71,5.71,0.30,Y,3.0,\N,0.14,3,2,23_08
1346,49,671.43,4.08,4.12,131.8,154.9,NaN,NaN,NaN,NaN,N,1.0,\N,0.02,4,3,23_08
2806,50,562.50,4.59,3.71,128.7,153.7,NaN,NaN,NaN,NaN,Y,2.0,\N,0.29,6,4,23_08
3025,48,700.00,4.16,4.68,134.0,149.1,NaN,NaN,NaN,NaN,Y,3.0,\N,-0.05,6,4,23_08
3145,46,366.07,3.76,2.75,132.0,158.0,6.0,448.33,5.33,-0.32,Y,0.5,\N,-0.25,1,1,23_08
3261,48,628.57,4.05,3.85,129.3,144.5,NaN,NaN,NaN,NaN,Y,1.0,\N,0.17,6,4,23_08
4775,40,489.29,3.70,2.00,129.4,158.0,NaN,NaN,NaN,NaN,Y,0.5,\N,0.02,2,2,23_08
4947,40,533.93,4.56,3.82,129.7,150.0,NaN,NaN,NaN,NaN,N,2.0,\N,0.42,5,3,23_08
5175,39,428.57,4.07,3.69,127.7,146.4,NaN,NaN,NaN,NaN,Y,0.5,\N,0.02,2,2,23_08
5293,38,637.50,4.73,4.68,130.3,158.0,2.0,379.00,4.00,-1.09,N,3.0,\N,0.24,6,4,23_08
5703,38,573.21,4.42,4.21,129.7,150.0,NaN,NaN,NaN,NaN,N,3.0,\N,0.51,6,4,23_08
5891,36,776.79,4.46,4.33,128.9,146.9,NaN,NaN,NaN,NaN,N,5.0,\N,0.40,5,3,23_08
7708,33,317.86,6.13,4.27,132.2,151.5,NaN,NaN,NaN,NaN,Y,5.0,\N,0.60,2,2,23_08
7947,32,417.86,4.68,5.40,131.8,154.9,NaN,NaN,NaN,NaN,Y,5.0,\N,0.08,1,1,23_08

In [23]:
# 결측 개수 확인
cow.isnull().sum()

개월령             0
생시체중            0
근내평균            0
도체범위근내평균        0
체고              0
체장              0
형매도축수       64356
형매도체평균      64356
형매근내평균      64356
형매근내평균가산    64356
6개월내출산          0
농가근내평균      20674
농가근내평균가산    20674
근내EPD           0
근내              0
점수              0
ym              0
dtype: int64

## 데이터 분할
cow_x : 소들의 특성 \
cow_y : 소들의 점수 (target)

In [42]:
from sklearn.model_selection import train_test_split
cow_x, cow_y = cow.iloc[:,:-3].values, cow.iloc[:,-2].values 
cow_x = pd.DataFrame(cow_x)
X_train, X_test, y_train, y_test = train_test_split (cow_x, cow_y,
                                                    test_size = 0.3,
                                                    random_state = 0,
                                                    stratify = cow_y)

In [43]:
cow_x

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,46,644.64,3.34,3.23,131.4,158.9,NaN,NaN,NaN,NaN,N,4.16,-1.05,0.18
1,46,633.93,4.59,4.52,129.7,148.4,NaN,NaN,NaN,NaN,Y,4.16,-1.05,0.17
2,32,567.86,5.5,4.89,130.3,158.0,NaN,NaN,NaN,NaN,N,5.58,0.53,0.42
3,33,564.29,6.13,5.56,130.7,155.9,NaN,NaN,NaN,NaN,Y,3.78,-0.91,0.42
4,48,692.86,4.79,4.61,131.2,146.1,NaN,NaN,NaN,NaN,Y,3.9,-1.35,0.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90037,31,610.71,5.29,4.93,134.2,153.3,NaN,NaN,NaN,NaN,N,5.71,-0.11,0.71
90038,42,508.93,3.96,2.31,130.3,153.2,2.0,368.0,6.5,0.35,Y,6.0,1.41,0.46
90039,39,451.79,4.92,3.64,128.1,147.7,NaN,NaN,NaN,NaN,Y,6.0,1.41,0.52
90040,41,675.0,4.14,4.54,130.3,153.2,NaN,NaN,NaN,NaN,Y,6.5,1.46,0.3
90041,38,667.86,5.0,5.15,127.0,148.7,NaN,NaN,NaN,NaN,N,7.0,2.1,0.23